@inherits LayoutComponentBase
@inject IStringLocalizer<SharedResources> Localizer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">@Localizer["Layout_About"]</a>
        </div>

        <article class="content px-4">
            <UserHeader />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    @Localizer["Layout_ErrorOccurred"]
    <a href="" class="reload">@Localizer["Layout_Reload"]</a>
    <a class="dismiss">🗙</a>
</div>
